body {
    height: auto;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: calc(100vh - 150px);
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

header .dFlex {
    display: none;
}

form {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
    width: 30vw;
}

form input {
    padding: 0.5rem;
    border-radius: 15px;
    border: 2px solid #42291e;
}

form a {
    color: #1f140f;
    font-weight: bold;
}

.contactUsButton {
    font-size: 10px;
}