body {
    height: auto;
}

main {
    height: auto;
    min-height: calc(100vh - 180px);
    padding-top: 2rem;
}

main h1 {
    text-align: center;
}

.propertyDscpCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 4rem 4rem 0 4rem;
    justify-content: center;
    align-items: center;
}

.propertyDscpCard img {
    width: 480px;
    border-radius: 20px;
    justify-self: center;

}

.detailsContainer {
    display: grid;
    gap: 3rem;
}

ol {
    padding-top: 1rem;
    list-style-type: circle;
}