body {
    height: auto;
}

main {
    height: auto;
    min-height: calc(100vh - 150px);
}

.propertyDscpCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 2.75rem;
    justify-content: center;
    align-items: center;
}

.propertyDscpCard img {
    width: 38vw;
    border-radius: 20px;
}