body {
    min-height: 100%;
}

main {
    display: grid;
    justify-content: center;
    height: auto;
    min-height: calc(100vh - 150px);
    align-items: center;
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

header .dFlex {
    display: none;
}

form {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    text-align: center;
    width: 30vw;
    gap: 0.5rem;
}

form input {
    padding: 0.5rem;
    border-radius: 15px;
    border: 2px solid #42291e;
}

form a {
    color: #1f140f;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
    display: block;
    height: 15px;
}

.successMsg {
    color: green;
    font-size: 16px;
    margin-top: 15px;
}